body,
ul,
li,
a,
span,
div,
section,
header,
footer,
article,
aside,
p,
del,
i,
strong,
em,
ins,
input,
img,
h1,
h2,
h3,
h4,
dl,
dd,
dt {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

input {
    border: none;
    outline: none;
}

img {
    border: none;
    vertical-align: middle;
}

i {
    font-style: normal;
}

li {
    list-style: none;
}

html,
body {
    height: 100%;
}
.clearfix::after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.w-20{
    width: 20%;
}
.pr5{
    padding-right: 0.33333rem;
}
.bg-green{
    background-color: #00D2C3 !important;
}
.bg-red{
    background-color: #f43530;
}
.c-red{
    color: #f50;
}